apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret-example
type: Opaque
data:
  POSTGRES_USER: base64-encoded-username # 例: echo -n 'username' | base64
  POSTGRES_PASSWORD: base64-encoded-password # 例: echo -n 'password' | base64
  POSTGRES_DB: base64-encoded-database-name # 例: echo -n 'database_name' | base64
